{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block main %}
{% if let Some(message) = flash_message %}
<div>{{ message }}</div>
{% endif %}

<form action="/login" method="post">
    <input type="text" name="identifier" placeholder="Username or Email" value="{{ identifier.as_deref().unwrap_or("") }}" required><br>
    <input type="password" name="password" placeholder="Password" value="{{ password.as_deref().unwrap_or("") }}" required><br>
    <button type="submit">Sign in</button>
</form>
<p>Don't have an account? <a href="/register">Sign up here</a></p>
{% endblock %}